:root {
    --cor-primaria: darkorange;
    --cor-de-fonte: #FFFFFF;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Arial';
    font-weight: bold;
}

.container {
    width: 800px;
    margin: 120px auto;
}

.container-caixa {
    padding: 2rem 1rem ;
    border: 2px solid var(--cor-primaria);
}

.botoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.botoes-top {
    padding: 1rem;
    text-transform: uppercase;
    color: var(--cor-primaria);
    border: 1px solid var(--cor-primaria);
    background: none;
}

.ativa {
    background-color: var(--cor-primaria);
    color: var(--cor-de-fonte);
} 

.formulario-caixa {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--cor-primaria);
}

input {
    height: 32px;
    border: 1px solid var(--cor-primaria);
}

input::placeholder {
    padding-left: 0.4rem;
}

input:focus {
    border: none;
    outline: 0;
}

.botao {
    background-color: var(--cor-primaria);
    color: var(--cor-de-fonte);
    padding: 0.5rem;
    border: none;
}

.formulario-cadastro {
    display: none;
}